@charset "utf-8";

.container-page{
  position: relative;
  padding-left: 180px;
}
.left-menu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
  background-color: #0a0e20;
  .title{
    height: 190px;
    padding-top: 10px;
    background-color: #191d37;
    text-align: center;
    .logo{
      color: #fff;
      height: 40px;
      line-height: 40px;
    }
    .user-head-img{
      margin-top: 10px;
      img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
    .admin{
      position: relative;
      color: #fff;
      margin-top: 15px;
      cursor: pointer;
      .icon-xiangxia{
        display: inline-block;
      }
      .admin-info{
        position: absolute;
        display: none;
        width: 100%;
        z-index: 100;
        background-color: #191d37;
        p{
          height: 30px;
          line-height: 30px;
          margin-bottom: 0;
          &:hover{
            color: $color-0;
          }
        }
      }
      &:hover{
        .admin-info{
          display: block;
        }
        .icon-xiangxia{
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }
  .menu-list{
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    width: 100%;

    .inner-container{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 197px;
      overflow: hidden;
      overflow-y: auto;
    }
    .menu-item{
      width: 180px;
      &:hover,&.active{
        .content{
          color: #fff;
          background-color: $color-0;
          border-left: 4px solid $color-10;
        }
      }
      &.active{
        .icon-youjiantou2{
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
        }
        .content{
          &+.menu-list-2{
            display: block;
          }
        }
      }
      .content{
        line-height: 45px;
        color: #797f9c;
        padding: 0 20px;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .icon{
          float: left;
          font-size: 20px;
        }
        .text{
          float: left;
          margin-left: 15px;
        }
        .icon-youjiantou2{
          font-size: 12px;
          float: right;
        }
        *zoom: 1;
        &:before,&:after { display: table;  line-height: 0; content: ""; }
        &:after { clear: both; }
      }

    }
    .menu-list-2{
      display: none;
      color: #fff;
      .item{
        line-height: 45px;
        padding-left: 50px;
        cursor: pointer;
        &.active{
          color: #3366ff;
        }
        &:hover{
          color: #3366ff;
        }
      }
    }
  }
}
.content-page{
  position: fixed;
  top:40px;
  left: 180px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  background-color: $color-11;
}
.bread-nav{
  position: fixed;
  top:0;
  left: 180px;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  .icon-youjiantou2{
    font-size: 12px;
  }
  .nav-item{
    float: left;
  }
}


